@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url('../img/마우스커서.png') 2 2, auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    color: #333;

}