@charset "utf-8";
@font-face {
    font-family: 'Pretendard';
    src: url('font/프리텐다드/Pretendard-Black.eot');
    src: url('font/프리텐다드/Pretendard-Black.eot?#iefix') format('embedded-opentype'),
        url('font/프리텐다드/Pretendard-Black.woff2') format('woff2'),
        url('font/프리텐다드/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/프리텐다드/Pretendard-ExtraBold.eot');
    src: url('Pretendard-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Pretendard-ExtraBold.woff2') format('woff2'),
        url('Pretendard-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/프리텐다드/Pretendard-Bold.eot');
    src: url('font/프리텐다드/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('font/프리텐다드/Pretendard-Bold.woff2') format('woff2'),
        url('font/프리텐다드/Pretendard-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/프리텐다드/Pretendard-ExtraLight.eot');
    src: url('font/프리텐다드/Pretendard-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('font/프리텐다드/Pretendard-ExtraLight.woff2') format('woff2'),
        url('font/프리텐다드/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/프리텐다드/Pretendard-Light.eot');
    src: url('font/프리텐다드/Pretendard-Light.eot?#iefix') format('embedded-opentype'),
        url('font/프리텐다드/Pretendard-Light.woff2') format('woff2'),
        url('font/프리텐다드/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/프리텐다드/Pretendard-Medium.eot');
    src: url('font/프리텐다드/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('font/프리텐다드/Pretendard-Medium.woff2') format('woff2'),
        url('font/프리텐다드/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/프리텐다드/Pretendard-Regular.eot');
    src: url('font/프리텐다드/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/프리텐다드/Pretendard-Regular.woff2') format('woff2'),
        url('font/프리텐다드/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/프리텐다드/Pretendard-SemiBold.eot');
    src: url('font/프리텐다드/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('font/프리텐다드/Pretendard-SemiBold.woff2') format('woff2'),
        url('font/프리텐다드/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/프리텐다드/Pretendard-Thin.eot');
    src: url('font/프리텐다드/Pretendard-Thin.eot?#iefix') format('embedded-opentype'),
        url('font/프리텐다드/Pretendard-Thin.woff2') format('woff2'),
        url('font/프리텐다드/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url('../img/마우스커서.png') 1 1, auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    color: #333;
    overflow-x: hidden;
    font-family: 'Pretendard';
    
}
a.btn{
    width: 50px;
    height: 50px;
    background: url('../img/탑버튼.png') center center no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 3;
}
a.btn:hover{
    cursor: url('../img/마우스커서02.png') 2 2, auto;
}